	*{
		box-sizing: border-box;
     }

     .header{

     	height:60px;

     }

     .main{

     	float:right; 
     	margin:10px; 
     	color:blue;

     }

     .main2{

        height:550px; 
        border:1px dotted black;
     }

     .main3{

     	background-color:red;
     	 width:30%; 
     	 height:350px; 
     	 float:left;" 
     	 align="center"

     }

     .main4{
          
        width:70%;
        height:500px;
        float:left;  

     }

     .main5{

     	float:left; 
     	margin:10px;

     }

     .main6{

     	style="width:70%; 
     	height:500px;
     	float:left;

     }

     .same{
     	float:left;
     	 margin:10px; 


     }

     .same1{
     	float:left; 
     	margin:10px;
     	 width:800px;
     }

     .main7{
     	background-color:blue; 
     	height:50px; 
     	float:left; 
     	width:100%; 
     	
     }
		
